# Virtual Environment
.venv/

# Dataset
dataset/
lgg-mri-segmentation/

# Logs
logs/

# Outputs
outputs/

# Upload folders
static/uploads/
static/predictions/

# Raw prediction
raw_prediction.png

# Python cache
__pycache__/
*.pyc

# Models
saved_models/