# Virtual Environment
.venv/

# Dataset
dataset/
lgg-mri-segmentation/

# Logs
logs/

# Outputs
outputs/

# Ignore uploaded files but keep folders
static/uploads/*
!static/uploads/.gitkeep

# Ignore generated prediction files but keep folder
static/predictions/*
!static/predictions/.gitkeep

# Raw prediction
raw_prediction.png

# Python cache
__pycache__/
*.pyc

# Models
saved_models/

# macOS
.DS_Store